body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

button {
    grid-column: 4;
    justify-self: center;
}

.result {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edit-delete-buttons {
    display: flex;
    gap: 5px;
}